## Extract and Tranform:
### Extracción y transformación de datos climáticos de Argentina (1991-2020)

In [2]:
import pandas as pd
import numpy as np

Se cargan los datasets de interés: estaciones_smn y estadisticas_normales_datos_abiertos_1991-2020 para su depuración.

estaciones_smn

In [5]:
estaciones_smn = pd.read_fwf(r'C:\Users\icrui\Documents\DS-ML\proy_etl_clim_arg\data\estaciones_smn.txt')

In [6]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m],NRO,NroOACI
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256 89034,SAYB,NaN
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11 89053,SAYJ,NaN
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24 88963,SAYE,NaN
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198 89055,SAWB,NaN
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12 88968,SAYO,NaN

De estaciones_smn solo se seleccionan las columnas más relevantes.

In [8]:
estaciones_smn = estaciones_smn[['NOMBRE', 'PROVINCIA', '[lat_gr]', '[lat_min]', '[lon_gr]', '[lon_min]', '[altura_m]']]

In [9]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m]
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256 89034
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11 89053
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24 88963
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198 89055
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12 88968

Se corrige la última columna que se exportó combinada con otra que no se utilizará.

In [11]:
estaciones_smn.loc[:, '[altura_m]'] = estaciones_smn['[altura_m]'].astype(str)

In [12]:
estaciones_smn.loc[:, '[altura_m]'] = estaciones_smn['[altura_m]'].str[:-5]

In [13]:
estaciones_smn.head()

,NOMBRE,PROVINCIA,[lat_gr],[lat_min],[lon_gr],[lon_min],[altura_m]
0,BASE BELGRANO II,ANTARTIDA,-77.0,52.0,-34.0,37.0,256
1,BASE CARLINI (EX JUBANY),ANTARTIDA,-62.0,14.0,-58.0,39.0,11
2,BASE ESPERANZA,ANTARTIDA,-63.0,23.0,-56.0,59.0,24
3,BASE MARAMBIO,ANTARTIDA,-64.0,14.0,-56.0,37.0,198
4,BASE ORCADAS,ANTARTIDA,-60.0,44.0,-44.0,44.0,12

Estadisticas_normales_Datos_abiertos_1991-2020

In [15]:
estad_norm_1991_2020 = pd.read_excel(r'C:\Users\icrui\Documents\DS-ML\proy_etl_clim_arg\data\Estadísticas_normales_Datos_abiertos _1991-2020.xlsx', skiprows=4)

In [16]:
estad_norm_1991_2020.head()

,Estación,Valor Medio de,Ene,Feb,Mar,Abr,May,Jun,Jul,Ago,Sep,Oct,Nov,Dic
0,LA QUIACA OBSERVATORIO,Temperatura (°C),13.2,13,12.8,11.3,7.3,4.8,4.5,7,10,12.4,13.4,13.9
1,LA QUIACA OBSERVATORIO,Temperatura máxima (°C),20.6,20.4,20.6,20.3,17.8,16.3,16.1,18,20,21.7,22.5,22.2
2,LA QUIACA OBSERVATORIO,Temperatura mínima (°C),7.7,7.6,6.6,3.1,-2.5,-5.7,-6.2,-4,-0.4,3.3,5.5,7.3
3,LA QUIACA OBSERVATORIO,Humedad relativa (%),62.6,63.2,60.3,46,32.6,27.4,25.7,26.7,32.1,42.4,48.6,55.8
4,LA QUIACA OBSERVATORIO,Velocidad del Viento (km/h) (2011-2020),6.5,6.8,6.7,5.5,4.8,5.5,5.9,6.7,7.9,7.9,7.7,7.1

La forma de la tabla podría no ser provechosa. Se procede a editarla en forma vertical.

In [18]:
estad_norm_1991_2020['Estación'].unique()

array(['LA QUIACA OBSERVATORIO', 'ORÁN AERO*', 'TARTAGAL AERO',
       'JUJUY AERO', 'JUJUY U N', 'SALTA AERO', 'LAS LOMITAS',
       'IGUAZÚ AERO', 'TUCUMÁN AERO', 'SANTIAGO DEL ESTERO AERO',
       'PRESIDENCIA ROQUE SAENZ PEÑA AERO*', 'RESISTENCIA AERO',
       'FORMOSA AERO', 'BERNARDO DE IRIGOYEN AERO', 'CORRIENTES AERO',
       'POSADAS AERO', 'OBERÁ', 'TINOGASTA', 'CHILECITO AERO',
       'LA RIOJA AERO', 'CATAMARCA AERO', 'VILLA DE MARÍA DEL RÍO SECO',
       'CERES AERO', 'RECONQUISTA AERO', 'PASO DE LOS LIBRES AERO',
       'JACHAL', 'SAN JUAN AERO', 'CHAMICAL AERO', 'VILLA DOLORES AERO',
       'CÓRDOBA AERO', 'CÓRDOBA OBSERVATORIO', 'PILAR OBSERVATORIO',
       'SAUCE VIEJO AERO', 'PARANÁ AERO', 'MONTE CASEROS AERO',
       'CONCORDIA AERO', 'SAN MARTÍN (MZA)', 'MENDOZA AERO',
       'MENDOZA OBSERVATORIO', 'SAN LUIS AERO', 'VILLA REYNOLDS AERO',
       'RÍO CUARTO AERO', 'MARCOS JUÁREZ AERO', 'VENADO TUERTO AERO',
       'EL TRÉBOL', 'ROSARIO AERO', 'GUALEGUAYCHÚ AERO', 'MALARGÜE AERO',
       'SAN RAFAEL AERO', 'GENERAL PICO AERO', 'LABOULAYE AERO',
       'PEHUAJÓ AERO', 'JUNÍN AERO', 'NUEVE DE JULIO',
       'SAN FERNANDO AERO*', 'LAS FLORES', 'SAN MIGUEL*',
       'EL PALOMAR AERO', 'EZEIZA AERO', 'AEROPARQUE AERO',
       'BUENOS AIRES OBSERVATORIO', 'LA PLATA AERO', 'PUNTA INDIO B.A.',
       'SANTA ROSA AERO', 'CORONEL SUÁREZ AERO', 'BOLÍVAR AERO',
       'AZUL AERO*', 'OLAVARRÍA AERO', 'TANDIL AERO', 'DOLORES AERO',
       'PIGÜÉ AERO', 'CORONEL PRINGLES AERO*', 'TRES ARROYOS',
       'MAR DEL PLATA AERO', 'NEUQUÉN AERO', 'BAHÍA BLANCA AERO',
       'BARILOCHE AERO', 'MAQUINCHAO', 'SAN ANTONIO OESTE AERO',
       'VIEDMA AERO', 'EL BOLSÓN AERO*', 'ESQUEL AERO', 'TRELEW AERO',
       'PERITO MORENO AERO', 'COMODORO RIVADAVIA AERO',
       'GOBERNADOR GREGORES AERO*', 'PUERTO DESEADO AERO',
       'EL CALAFATE AERO*', 'SAN JULIÁN AERO', 'RÍO GALLEGOS AERO',
       'RÍO GRANDE B.A.', 'USHUAIA AERO*', 'BASE ESPERANZA',
       'BASE ORCADAS', 'BASE BELGRANO II', 'BASE CARLINI (EX JÚBANY)',
       'BASE MARAMBIO', 'BASE SAN MARTÍN'], dtype=object)

Se eligen estaciones representativas en ambos datasets, para hacer futuros análisis enfocalizados en ellas.

In [20]:
data_est_eleg_1991_2020 = estad_norm_1991_2020[estad_norm_1991_2020['Estación'].isin(['SALTA AERO', 'IGUAZÚ AERO', 'MENDOZA AERO', 'ROSARIO AERO', 
                                                                                      'AEROPARQUE AERO', 
                                                                                      'BARILOCHE AERO', 'BASE ESPERANZA'])]

In [21]:
estac_eleg_smn = estaciones_smn[estaciones_smn['NOMBRE'].isin(['SALTA AERO', 'IGUAZU AERO', 'MENDOZA AERO', 'ROSARIO AERO', 
                                                                                      'AEROPARQUE AERO', 
                                                                                      'BARILOCHE AERO', 'BASE ESPERANZA'])]

Se arman datasets más pequeños para su normalización en formato vertical.

In [23]:
raw_data_salta = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'SALTA AERO']
raw_data_iguazu = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'IGUAZÚ AERO']
raw_data_mza = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'MENDOZA AERO']
raw_data_ros = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'ROSARIO AERO']
raw_data_aeroparq = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'AEROPARQUE AERO']
raw_data_barilo = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'BARILOCHE AERO']
raw_data_base_esp = data_est_eleg_1991_2020[data_est_eleg_1991_2020['Estación'] == 'BASE ESPERANZA']

In [24]:
# Columnas meses -- se van a usar en todos los sub-datasets
meses = ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic']

# Se transforman los meses en filas
df_pivot_salta = raw_data_salta.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

# De "Valor Medio de" a las columnas
df_final_salta = df_pivot_salta.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_salta.columns.name = None # Se elimina el nombre de la columna del índice

In [25]:
df_pivot_iguazu = raw_data_iguazu.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_iguazu = df_pivot_iguazu.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_iguazu.columns.name = None

In [26]:
raw_data_mza.replace('S/D', np.nan, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\3694734285.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data_mza.replace('S/D', np.nan, inplace=True)

In [27]:
df_pivot_mza = raw_data_mza.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_mza = df_pivot_mza.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_mza.columns.name = None

In [28]:
df_pivot_ros = raw_data_ros.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_ros = df_pivot_ros.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_ros.columns.name = None

In [29]:
df_pivot_ap = raw_data_aeroparq.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_aeropar = df_pivot_ap.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_aeropar.columns.name = None

In [30]:
df_pivot_barilo = raw_data_barilo.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_barilo = df_pivot_barilo.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_barilo.columns.name = None

In [31]:
raw_data_base_esp.replace('S/D', np.nan, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\1868223477.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  raw_data_base_esp.replace('S/D', np.nan, inplace=True)

In [32]:
df_pivot_base_esp = raw_data_base_esp.melt(
    id_vars=['Estación', 'Valor Medio de'],
    value_vars=meses,
    var_name='Mes',
    value_name='Valor')

df_final_base_esp = df_pivot_base_esp.pivot_table(
    index=['Estación', 'Mes'],
    columns='Valor Medio de',
    values='Valor'
).reset_index()

df_final_base_esp.columns.name = None

Se hace concat con los "subdatasets" armados.

In [34]:
data_climas_selec = pd.concat([df_final_salta, df_final_iguazu, df_final_mza, df_final_ros, df_final_aeropar, df_final_barilo, df_final_base_esp], ignore_index=True)

In [35]:
data_climas_selec

,Estación,Mes,Frecuencia de días con Precipitación superior a 1.0 mm,Humedad relativa (%),Nubosidad total (octavos),Precipitación (mm),Temperatura (°C),Temperatura máxima (°C),Temperatura mínima (°C),Velocidad del Viento (km/h) (2011-2020)
0,SALTA AERO,Abr,4.4,82.3,5.4,42.1,16.8,22.9,12.2,6.0
1,SALTA AERO,Ago,0.7,60.4,2.9,2.3,12.8,22.7,4.8,6.9
2,SALTA AERO,Dic,10.1,71.5,5.3,138.4,21.7,28.4,16.0,7.6
3,SALTA AERO,Ene,12.4,77.2,5.8,197.1,21.5,27.7,16.8,6.8
4,SALTA AERO,Feb,11.2,80.6,5.8,147.3,20.6,26.5,16.1,6.4
...,...,...,...,...,...,...,...,...,...,...
79,BASE ESPERANZA,Mar,NaN,NaN,5.9,NaN,-2.0,1.4,-5.2,NaN
80,BASE ESPERANZA,May,NaN,NaN,5.4,NaN,-7.4,-3.2,-11.2,NaN
81,BASE ESPERANZA,Nov,NaN,NaN,6.0,NaN,-0.9,2.3,-3.9,NaN
82,BASE ESPERANZA,Oct,NaN,NaN,5.8,NaN,-4.1,-0.2,-7.8,NaN
83,BASE ESPERANZA,Sep,NaN,NaN,5.5,NaN,-6.9,-2.6,-10.9,NaN

Se procede a normalizar datos en columnas y los nombres de estas.

In [37]:
data_climas_selec.rename(columns={'Estación': 'estacion', 
                                  'Mes': 'mes',
                                  'Frecuencia de días con Precipitación superior a 1.0 mm': 'frec_dias_precipi_sup_1mm',
                                  'Humedad relativa (%)': 'humedad_relac',
                                  'Nubosidad total (octavos)':'nubosidad_octas',
                                  'Precipitación (mm)':'precipi_mm',
                                  'Temperatura (°C)':'temperat_c',
                                  'Temperatura máxima (°C)':'temperat_max_c',
                                  'Temperatura mínima (°C)':'temperat_min_c',
                                  'Velocidad del Viento (km/h) (2011-2020)':'veloc_kmh_viento_2011_2020'
                                 }, inplace=True)

In [38]:
data_climas_selec['estacion'] = data_climas_selec['estacion'].astype('string')

In [39]:
data_climas_selec['mes'] = data_climas_selec['mes'].astype('string')

In [40]:
data_climas_selec['frec_dias_precipi_sup_1mm'] = data_climas_selec['frec_dias_precipi_sup_1mm'].astype('float')

In [41]:
data_climas_selec['humedad_relac'] = data_climas_selec['humedad_relac'].astype('float')

In [42]:
data_climas_selec['nubosidad_octas'] = data_climas_selec['nubosidad_octas'].astype('float')

In [43]:
data_climas_selec['precipi_mm'] = data_climas_selec['precipi_mm'].astype('float')

In [44]:
data_climas_selec['temperat_c'] = data_climas_selec['temperat_c'].astype('float')

In [45]:
data_climas_selec['temperat_max_c'] = data_climas_selec['temperat_max_c'].astype('float')

In [46]:
data_climas_selec['temperat_min_c'] = data_climas_selec['temperat_min_c'].astype('float')

In [47]:
data_climas_selec['veloc_kmh_viento_2011_2020'] = data_climas_selec['veloc_kmh_viento_2011_2020'].astype('float')

Se chequean los datos nulos.

In [49]:
data_climas_selec.isna().sum()

estacion                       0
mes                            0
frec_dias_precipi_sup_1mm     12
humedad_relac                  9
nubosidad_octas                0
precipi_mm                    12
temperat_c                     0
temperat_max_c                 0
temperat_min_c                 0
veloc_kmh_viento_2011_2020    24
dtype: int64

In [50]:
data_climas_selec[data_climas_selec['veloc_kmh_viento_2011_2020'].isna()]

,estacion,mes,frec_dias_precipi_sup_1mm,humedad_relac,nubosidad_octas,precipi_mm,temperat_c,temperat_max_c,temperat_min_c,veloc_kmh_viento_2011_2020
24,MENDOZA AERO,Abr,2.4,64.6,3.2,18.5,16.5,23.3,10.8,NaN
25,MENDOZA AERO,Ago,1.3,53.2,2.7,7.9,10.8,18.6,4.3,NaN
26,MENDOZA AERO,Dic,3.2,43.8,2.9,24.7,25.1,32.0,18.1,NaN
27,MENDOZA AERO,Ene,4.5,48.4,3.3,47.2,25.9,32.8,19.3,NaN
28,MENDOZA AERO,Feb,4.0,53.8,3.3,40.8,24.1,31.0,17.8,NaN
29,MENDOZA AERO,Jul,1.3,62.1,3.0,5.0,7.9,15.3,2.0,NaN
30,MENDOZA AERO,Jun,1.0,66.9,3.2,5.7,8.7,15.9,2.9,NaN
31,MENDOZA AERO,Mar,3.4,59.7,3.2,31.6,21.5,28.1,15.7,NaN
32,MENDOZA AERO,May,2.0,69.1,3.7,11.0,12.1,18.7,6.8,NaN
33,MENDOZA AERO,Nov,3.0,43.5,2.9,22.1,22.3,29.2,15.4,NaN
34,MENDOZA AERO,Oct,2.0,45.3,3.0,11.2,18.7,25.7,11.9,NaN
35,MENDOZA AERO,Sep,2.1,48.3,3.0,12.3,14.5,21.8,7.8,NaN
72,BASE ESPERANZA,Abr,NaN,NaN,5.7,NaN,-5.5,-1.7,-8.9,NaN
73,BASE ESPERANZA,Ago,NaN,NaN,5.3,NaN,-9.5,-5.1,-13.7,NaN
74,BASE ESPERANZA,Dic,NaN,79.4,6.0,NaN,0.8,3.8,-1.8,NaN
75,BASE ESPERANZA,Ene,NaN,80.1,6.3,NaN,1.5,4.3,-1.2,NaN
76,BASE ESPERANZA,Feb,NaN,79.5,6.0,NaN,0.9,3.9,-2.0,NaN
77,BASE ESPERANZA,Jul,NaN,NaN,5.1,NaN,-10.8,-6.4,-15.0,NaN
78,BASE ESPERANZA,Jun,NaN,NaN,5.3,NaN,-10.4,-6.2,-14.1,NaN
79,BASE ESPERANZA,Mar,NaN,NaN,5.9,NaN,-2.0,1.4,-5.2,NaN
80,BASE ESPERANZA,May,NaN,NaN,5.4,NaN,-7.4,-3.2,-11.2,NaN
81,BASE ESPERANZA,Nov,NaN,NaN,6.0,NaN,-0.9,2.3,-3.9,NaN
82,BASE ESPERANZA,Oct,NaN,NaN,5.8,NaN,-4.1,-0.2,-7.8,NaN
83,BASE ESPERANZA,Sep,NaN,NaN,5.5,NaN,-6.9,-2.6,-10.9,NaN

Los datos nulos son típicos en los casos de estaciones que no registran muchas precipitaciones, como la de Mendoza y la Antártida. No se registran las razones por las que no están los registros sobre la velocidad del viento en Base Esperanza entre 2011 y 2020 pero se tendrá en cuenta para futuros análisis.

Por otro lado, se continúa con el segundo dataset y su normalización para unirlo al anterior formando así un dataset único.

In [52]:
estac_smn_selec = estaciones_smn[estaciones_smn['NOMBRE'].isin(['SALTA AERO', 'IGUAZÚ AERO', 'MENDOZA AERO', 'ROSARIO AERO', 
                                                                                      'AEROPARQUE AERO', 
                                                                                      'BARILOCHE AERO', 'BASE ESPERANZA'])]
estac_smn_selec.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6 entries, 2 to 111
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   NOMBRE      6 non-null      object
 1   PROVINCIA   6 non-null      object
 2   [lat_gr]    6 non-null      float64
 3   [lat_min]   6 non-null      float64
 4   [lon_gr]    6 non-null      float64
 5   [lon_min]   6 non-null      float64
 6   [altura_m]  6 non-null      object
dtypes: float64(4), object(3)
memory usage: 384.0+ bytes

In [53]:
estac_smn_selec.rename(columns={'NOMBRE':'nombre',
                               'PROVINCIA':'provincia',
                               '[lat_gr]':'lat_gr',
                               '[lat_min]':'lat_min',
                                '[lon_gr]':'lon_gr',
                                '[lon_min]':'lon_min',
                                '[altura_m]':'altura_m'
                               }, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\2209440862.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estac_smn_selec.rename(columns={'NOMBRE':'nombre',

In [54]:
#No hay datos nulos
estac_smn_selec.isna().sum()

nombre       0
provincia    0
lat_gr       0
lat_min      0
lon_gr       0
lon_min      0
altura_m     0
dtype: int64

In [55]:
estac_smn_selec[['nombre', 'provincia']] = estac_smn_selec[['nombre', 'provincia']].astype('string')

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\1430850399.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estac_smn_selec[['nombre', 'provincia']] = estac_smn_selec[['nombre', 'provincia']].astype('string')

Se detectan anomalían en la columna altura_m (altura con respecto al nivel del mar), por lo que se continúa con su corrección antes de la unión de datasets.

In [57]:
estac_smn_selec['altura_m'].unique()

array(['24  ', '6  ', '704  ', '835  ', '1221  ', '25  '], dtype=object)

In [58]:
estac_smn_selec['altura_m'] = estac_smn_selec['altura_m'].str.strip()

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\420084495.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estac_smn_selec['altura_m'] = estac_smn_selec['altura_m'].str.strip()

In [59]:
estac_smn_selec['altura_m'] = estac_smn_selec['altura_m'].astype('int')

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\775894960.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estac_smn_selec['altura_m'] = estac_smn_selec['altura_m'].astype('int')

Se cambia el 'nombre' por 'estacion' para facilitar el merge.

In [61]:
estac_smn_selec.columns

Index(['nombre', 'provincia', 'lat_gr', 'lat_min', 'lon_gr', 'lon_min',
       'altura_m'],
      dtype='object')

In [62]:
data_climas_selec.columns

Index(['estacion', 'mes', 'frec_dias_precipi_sup_1mm', 'humedad_relac',
       'nubosidad_octas', 'precipi_mm', 'temperat_c', 'temperat_max_c',
       'temperat_min_c', 'veloc_kmh_viento_2011_2020'],
      dtype='object')

In [63]:
estac_smn_selec.rename(columns={'nombre':'estacion'}, inplace=True)

C:\Users\icrui\AppData\Local\Temp\ipykernel_16948\3679011857.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  estac_smn_selec.rename(columns={'nombre':'estacion'}, inplace=True)

Merge definitivo y últimos detalles previos a la exportación del dataset único.

In [66]:
df_climas_arg = data_climas_selec.merge(estac_smn_selec, on='estacion', how='inner')

In [67]:
df_climas_arg.head()

,estacion,mes,frec_dias_precipi_sup_1mm,humedad_relac,nubosidad_octas,precipi_mm,temperat_c,temperat_max_c,temperat_min_c,veloc_kmh_viento_2011_2020,provincia,lat_gr,lat_min,lon_gr,lon_min,altura_m
0,SALTA AERO,Abr,4.4,82.3,5.4,42.1,16.8,22.9,12.2,6.0,SALTA,-24.0,50.0,-65.0,28.0,1221
1,SALTA AERO,Ago,0.7,60.4,2.9,2.3,12.8,22.7,4.8,6.9,SALTA,-24.0,50.0,-65.0,28.0,1221
2,SALTA AERO,Dic,10.1,71.5,5.3,138.4,21.7,28.4,16.0,7.6,SALTA,-24.0,50.0,-65.0,28.0,1221
3,SALTA AERO,Ene,12.4,77.2,5.8,197.1,21.5,27.7,16.8,6.8,SALTA,-24.0,50.0,-65.0,28.0,1221
4,SALTA AERO,Feb,11.2,80.6,5.8,147.3,20.6,26.5,16.1,6.4,SALTA,-24.0,50.0,-65.0,28.0,1221

In [68]:
df_climas_arg.columns.tolist()

['estacion',
 'mes',
 'frec_dias_precipi_sup_1mm',
 'humedad_relac',
 'nubosidad_octas',
 'precipi_mm',
 'temperat_c',
 'temperat_max_c',
 'temperat_min_c',
 'veloc_kmh_viento_2011_2020',
 'provincia',
 'lat_gr',
 'lat_min',
 'lon_gr',
 'lon_min',
 'altura_m']

In [69]:
nuevo_orden =  ['estacion',
                'mes',
                'provincia',
                'precipi_mm',
                'frec_dias_precipi_sup_1mm',
                'humedad_relac',
                'nubosidad_octas',
                'temperat_c',
                'temperat_max_c',
                'temperat_min_c',
                'veloc_kmh_viento_2011_2020',
                'lat_gr',
                'lat_min',
                'lon_gr',
                'lon_min',
                'altura_m']

In [70]:
df_climas_arg = df_climas_arg[nuevo_orden]

In [71]:
df_climas_arg.head()

,estacion,mes,provincia,precipi_mm,frec_dias_precipi_sup_1mm,humedad_relac,nubosidad_octas,temperat_c,temperat_max_c,temperat_min_c,veloc_kmh_viento_2011_2020,lat_gr,lat_min,lon_gr,lon_min,altura_m
0,SALTA AERO,Abr,SALTA,42.1,4.4,82.3,5.4,16.8,22.9,12.2,6.0,-24.0,50.0,-65.0,28.0,1221
1,SALTA AERO,Ago,SALTA,2.3,0.7,60.4,2.9,12.8,22.7,4.8,6.9,-24.0,50.0,-65.0,28.0,1221
2,SALTA AERO,Dic,SALTA,138.4,10.1,71.5,5.3,21.7,28.4,16.0,7.6,-24.0,50.0,-65.0,28.0,1221
3,SALTA AERO,Ene,SALTA,197.1,12.4,77.2,5.8,21.5,27.7,16.8,6.8,-24.0,50.0,-65.0,28.0,1221
4,SALTA AERO,Feb,SALTA,147.3,11.2,80.6,5.8,20.6,26.5,16.1,6.4,-24.0,50.0,-65.0,28.0,1221

In [72]:
df_climas_arg.to_csv("C:\\Users\\icrui\\Documents\\DS-ML\\proy_etl_clim_arg\\data\\df_climas_arg.csv", index=False)